texml/dtd/texml.dtd

<!ENTITY % content "TeXML|cmd|env">

<!ELEMENT TeXML (%content)*>

<!ATTLIST TeXML mode (text|math) #IMPLIED>

<!ELEMENT env (%content)*>

<!ATTLIST env
  name  CDATA #REQUIRED
	begin CDATA #IMPLIED
	end   CDATA #IMPLIED
>

<!ELEMENT cmd (opt|parm)*>

<!ATTLIST cmd name CDATA #REQUIRED>

<!ELEMENT opt (#CDATA|spec|ctrl)*>

<!ELEMENT parm (#CDATA|spec|ctrl)*>

<!ELEMENT spec TODO>

<!ELEMENT ctrl TODO>

